html{
	font-size: 150%;
}
a{
	background-color: rgb(36, 36, 202);
	color: black;
}
header{
	background: #668aec;
	color: white;
}
h1{
	text-align: center;
	text-transform: uppercase;
}
aside{
	display: none;
}
section{
	background-color: #3e86e6;
}
h2{
	color: rgb(55, 55, 224);
	text-transform: uppercase;
}
