html{
	font-size: 150%;
}
a{
	background-color: blue;
	color: black;
}
header{
	background: #ABA6A6;
	color: white;
}
h1{
	text-align: center;
	text-transform: uppercase;
}
aside{
	display: none;
}
section{
	background-color: #796E6E;
}
h2{
	color: blue;
	text-transform: uppercase;
}
